<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista Productos</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }
    </style>
</head>
<body>
    <table>
        <th>ID Cerveza</th>
        <th>Nombre Producto</th>
        <th>Precio</th>
        <th>Actualizar</th>
        <th>Eliminar</th>
        <tr th:each="producto : ${listaProducto}">
            <td th:text="${producto.id}"></td>
            <td th:text="${producto.nombre}"></td>
            <td th:text="${producto.precio}"></td>
            <!-- <td><a th:href="@{'/modificarBreweryNew/'+${brewery.id}}"><input type="button" value="ACTUALIZAR"></a></td>
            <td><a th:href="@{'/eliminarBreweryNew/'+${brewery.id}}"><input type="button" value="ELMIMINAR"></a></td> -->
        </tr>
    </table>
</body>
</html>