<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulario</title>
</head>
<body>
    <form th:action="@{/insertarProducto}" th:object="${nuevoProducto}" method="post">
        <input type="hidden" th:field="*{id}" />
        <h3>Nombre</h3>
        <input type="text" th:field="*{nombre}" />
        
        <h3>Precio</h3>
        <input type="number" th:field="*{precio}" />
        <br>
        <input type="submit" value="Enviar" />
    </form>
</body>
</html>