<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cafeteria Manoli</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">

</head>
<body>
<div class="container">
    <h1 style="color: #f3f3f3">Bienvenido a Cafeteria Manoli</h1>

    <table style="border:solid 2px; border-radius: 1px;">


    <a th:href="@{/formInsertarProducto}"> <h3>Insertar un nuevo producto</h3></a>

    <a th:href="@{/listarProducto}"><h3>Listado de productos</h3></a>


    <footer>
        <p>&copy; 2024 Liam, Montero y Jorge</p>
    </footer>

    </table>
</div>
<div>
    <a th:href="@{/InicioSesion.html}">
        <button type="button" class="btn btn-primary">Inicio sesión</button>
    </a>
</div>

</body>
</html>
