<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Listado de productos</title>
</head>
<body>
<table style="border:solid 2px; border-radius: 1px;">
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Precio</th>
    </tr>
    <tr th:each="producto : ${index}">
        <td th:text="${producto.id}"></td>
        <td th:text="${producto.nombre}"></td>
        <td th:text="${producto.precio}"></td>
    </tr>
</table>
<a th:href="@{/formInsertarProducto}"><h3>Insertar un nuevo producto</h3></a>
<a th:href="@{/}"><h3>Volver al índice</h3></a>
</body>
</html>