body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #1e1e1e; /* Fondo oscuro */
    color: #ffffff; /* Texto en blanco */
    margin: 20px;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

table {
    width: 100%;
    margin-top: 20px;
    background-color: #007bff; /* Barra principal azul */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Sombra constante para simular elevación */
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out; /* Transición para la sombra y la posición */
    animation: floatAnimation 3s infinite alternate ease-in-out; /* Animación de flotar */
}

table:hover {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3); /* Aumenta la sombra al pasar el ratón */
    transform: translateY(0); /* Detiene la animación al pasar el ratón */
    animation: none; /* Detiene la animación al pasar el ratón */
}

th, td {
    border: 1px solid #dddddd; /* Borde gris claro */
    padding: 15px;
    text-align: left;
    transition: transform 0.3s ease-in-out; /* Transición para el efecto de cambio de tamaño */
}

th:hover, td:hover {
    transform: scale(1.05); /* Aumenta ligeramente al pasar el ratón sobre las celdas */
}

th {
    background-color: #0056b3; /* Color de fondo azul oscuro para resaltar los títulos */
    color: #ffffff;
    border-bottom: 2px solid #003366; /* Detalle en tono más oscuro de azul */
}

tr:nth-child(even) {
    background-color: #f8f9fa; /* Fondo gris claro para las filas pares */
}

a {
    text-decoration: none;
    color: #007bff; /* Enlace en tono de azul */
    display: block;
    margin-top: 10px;
}

h3 {
    color: #0056b3; /* Títulos en tono de azul oscuro */
    text-align: center;
    margin-top: 20px;
}

footer {
    text-align: center;
    color: #666666;
    margin-top: 20px;
}

@keyframes floatAnimation {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}
