<!-- src/main/resources/templates/verCarrito.html -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Carrito</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<h1>Tu Carrito</h1>
<table>
    <tr>
        <th>Imagen</th>
        <th>Nombre Producto</th>
        <th>Precio</th>
    </tr>
    <tr th:each="producto : ${productos}">
        <td><img th:src="@{'/images/' + ${producto.imagen}}" width="100" height="100"></td>
        <td th:text="${producto.nombre}"></td>
        <td th:text="${producto.precio}"></td>
    </tr>
</table>
<a th:href="@{/}"><h3>Volver al índice</h3></a>
</body>
</html>